/* 
NAME: PRIYANKA ROY CHOUDHURY 
STUDENT NUMBER:180336834
COURSE CODE: CO3320
FPR 2021/22
*/


body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.sim-logo {
  position: relative;
  right: -871px;
  margin-right: auto;
  margin-left: 6px;
  padding-right: 0px;
  -o-object-fit: fill;
  object-fit: fill;
  cursor: pointer;
}

.field-label {
  position: relative;
  bottom: -33px;
  margin-bottom: -16px;
  background-clip: content-box;
}

.body {
  padding-bottom: 0px;
}

.logo-icon {
  position: absolute;
  right:30px;
  top:23px;
  margin-right: 100px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.calendar-image {
  position: relative;
  margin-right: -1px;
  margin-left: 97px;
  padding-top: 0px;
}

.big-text {
  position: relative;
  top: auto;
  color: #009460;
}

.attendance-format-cards {
  position: relative;
  width: 500px;
  max-width: 400px;
  min-height: 100px;
  min-width: 458px;
  margin-bottom: 44px;
  border: 1px solid #13573f;
  background-color: #13573f !important;
  font-weight: 700;
  white-space: normal;
}

.input {
  position: relative;
  width: 60%;
  max-width: 1016px;
  min-width: 200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 138px;
}

.search-bar {
  position: absolute;
  margin-left:310px;
  margin-top:30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
  min-width: 207px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.dropdown-search-container{
  width: 340px;
  visibility:hidden;
  min-width: 207px;
  position: absolute;
  border: 1px solid #000; 
  height:240px;
  left:138px;
  background-color: #fff;
  z-index:1;
  box-sizing: border-box;
}

.dropdown-search{
  width: 100%;
  min-width: 207px;
  height:39px;
  padding: 10px;
  background-color: #fff;
}

.dropdown-search:not(:last-child){
  border-bottom: 1px solid #000;
}

.dropdown-search:hover{
  background-color: #c1fde8;
  cursor: pointer;
}

.body-text {
  position: relative;
  margin-top: 16px;
  padding-left: 0px;
}

.button-for-search {
  position: relative;
  margin-right: 4px;
  margin-left: 3px;
  padding: 9px 45px 7px 45px;
  background-color: #009460;
  width:15%;
  height:38px !important;
}

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.logo-for-sim {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.navigation---top {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: left;
  -webkit-align-items: left;
  -ms-flex-align: left;
  align-items: left;
}

.nav-left-homepage {
  position: absolute;
  left: 17px;
  top: 100px;
  width: 150px;
  height:80%;
}

.div-nav-left {
  padding-top: 37px;
  padding-bottom: 0px;
  background-color: transparent;
  height: calc(100%/5);
}

.nav-left-text {
  position: relative;
  left: 43px;
  top: -23px;
  z-index: 1;
  padding-bottom: 0px;
  color: #000;
  cursor: pointer;
}

.nav-left-icon {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.main-dashboard {
  position: relative;
  left: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  
}

.log-in-button {
  position: relative;
  top: 153px;
  width: 500px;
  max-width: 500px;
  background-color: #009460;
}

.heading-sim-portal {
  color: #009460;
}

.email-address-text-field {
  max-width: 500px;
}

.password-text-field {
  max-width: 500px;
}

.background-image {
  height: 442px;
}

.form-for-login-credentials {
  position: relative;
  top: -59px;
}

.dashboard-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-div {
  width: 100%;
  height: 900px;
  max-width: 960px;
  margin-right: auto;
  margin-left: -60px;
  padding-right: 0px;
  padding-left: 47px;
}

.attendance-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 43px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.homepage-cards {
  position: relative;
  min-height: 100px;
  min-width: 500px;
  margin-bottom: 44px;
  border: 1px solid #009460;
  background-color: #009460;
  font-weight: 700;
  white-space: normal;
  display: flex;
}

._95-attendance-rate {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 31px;
  height: 100px;
  margin-top: 288px;
  margin-bottom: 0px;
  margin-left: 427px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #009460;
}

._90-attendance-rate {
  position: absolute;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 68px;
  height: 99px;
  margin-top: 144px;
  margin-bottom: 15px;
  margin-left: 391px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #009460;
}

._90-text {
  margin-top: -15px;
  margin-left: -65px;
  color: #fff;
  font-weight: 700;
}

._95-text {
  margin-left: -107px;
  color: #fff;
  font-weight: 700;
}

.highlighted-attendance {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 60px;
  margin-top: 17px;
  margin-left: -3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #DEECE7;
  cursor: pointer;
}


.bold-text-for-nav-left-text {
  position: relative;
  left: 43px;
  top: -23px;
  z-index: 1;
  padding-bottom: 0px;
  color: #000;
}

.present-card {
  position: relative;
  width: 300px;
  height: 60px;
  max-width: 400px;
  min-height: 80px;
  min-width: 458px;
  margin-bottom: 44px;
  border: 1px solid #009460;
  background-color: #009460;
  font-weight: 700;
  white-space: normal;
}

.absent-card {
  position: relative;
  width: 500px;
  max-width: 400px;
  min-height: 80px;
  min-width: 458px;
  margin-bottom: 44px;
  border: 1px solid #b2b07f;
  background-color: #b2b07f !important;
  color: #000 !important;
  font-weight: 700;
  white-space: normal;
}

.text-field {
  width: 600px;
}

.attendance-appeal-submit {
  position: absolute;
  left: 339.5px;
  top: 376px;
  width: 600px;
  margin-top: 156px;
  margin-left: -290px;
  padding-left: 12px;
  background-color: #009460;
}

.image-attachment {
  margin-top: 21px;
}

.date-and-time-text {
  margin-top: -1px;
  padding-bottom: 8px;
}

.settings-text {
  margin-top: -1px;
  padding-bottom: 8px;
  width:560px;
}

.reason-text {
  padding-top: 22px;
}

.attendance-div {
  position: absolute;
  top: 84px;
  width: 150px;
  margin-top: -63px;
  padding-top: 62px;
  cursor: pointer;
}

.button {
  width: 510px;
  margin-top: 50px;
  background-color: #009460;
  text-align: center;
  font-weight: bold;
}

.exam-schedule-cards {
  position: relative;
  min-height: 100px;
  min-width: 500px;
  margin-bottom: 44px;
  border: 1px solid #009460;
  background-color: #009460;
  font-weight: 700;
  white-space: normal;
}

.courses {
  position: absolute;
  width: 150px;
  margin-top: -15px;
  padding-top: 62px;
  background-color: transparent;
  cursor: pointer;
}



.exam-schedule {
  position: absolute;
  width: 150px;
  margin-top: -15px;
  padding-top: 62px;
  cursor: pointer;
}

.grades {
  position: absolute;
  width: 150px;
  margin-top: -15px;
  padding-top: 90px;
  cursor: pointer;
}

.support {
  position: absolute;
  width: 150px;
  margin-top: -15px;
  padding-top: 62px;
  cursor: pointer;
}

.highlighted-exam-schedule {
  height: 70px;
  max-height: 100px;
  max-width: 310px;
  margin-top: -72px;
  margin-left: -10px;
  border: 1px solid #DEECE7;
  background-color: #DEECE7;
  cursor: pointer;
}

.co3310 {
  width: 175px;
  max-width: 106%;
  margin-top: 18px;
  position:relative;
  left:3px;
  cursor: pointer;
}

.lecture-notes-text {
  margin-top: 50px;
}

.lecture notes {
  position: relative;
  top: 28px;
  align-content: space-evenly;
}


.past-year-paper-text {
  margin-top: 110px;
}


.class-recordings {
  margin-top: 100px;
}

._2017-za {
  position: relative;
  top: 36px;
}

._2017-zb {
  position: relative;
  left: -165px;
  top: 85px;
}

.highlighted-courses {
  position: absolute;
  width: 150px;
  margin-top: -15px;
  padding-top: 62px;
  background-color: #DEECE7;
  cursor: pointer;
}

.attendance {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 60px;
  margin-top: 17px;
  margin-left: -3px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}

.co3310-button {
  position: relative;
  top: 126px;
  width: 177px;
  height: 50px;
  margin-top: -99px;
  margin-bottom: 79px;
  margin-left: -177px;
  padding-top: 0px;
  border: 1px solid #009460;
  background-color: #009460;
  cursor: pointer;
}

.bold-text {
  margin-left: 12px;
}

.co3348 {
  margin-top: 29px;
  margin-left: 183px;
  position:relative;
  left:4px;
  cursor: pointer;
}

.co3348-button {
  position: relative;
  left: -3px;
  top: 130px;
  width: 171px;
  height: 55px;
  margin-top: -115px;
  margin-bottom: 137px;
  margin-left: -167px;
  border: 1px solid #009460;
  background-color: #009460;
  cursor: pointer;
}

.co3311 {
  position: relative;
  left: -490px;
  top: 325px;
  margin-top: 7px;
  margin-left: -237px;
  cursor: pointer;
}

.co3311-button {
  position: relative;
  left: -549px;
  top: 454px;
  width: 170px;
  height: 56px;
  margin-top: -60px;
  margin-bottom: 68px;
  margin-left: -115px;
  border: 1px solid #009460;
  background-color: #009460;
  cursor: pointer;
}

.co3323 {
  position: relative;
  left: -219px;
  top: 325px;
  width: 177px;
  margin-top: 7px;
  margin-left: -132px;
  cursor: pointer;
}

.co3323-button {
  position: relative;
  left: -175px;
  top: 454px;
  width: 177px;
  height: 54px;
  margin-top: -44px;
  margin-bottom: 126px;
  
  border: 1px solid #009460;
  background-color: #009460;
  cursor: pointer;
}

.image-105 {
  margin-top: -1px;
}

.highlighted-grades {
  position: relative;
  top: -18px;
  width: 140px;
  height: 50px;
  max-width: 160px;
  margin-top: -39px;
  background-color: #DEECE7;
  cursor: pointer;
}

.highlighted-support {
  position: relative;
  top: 40px;
  width: 140px;
  height: 50px;
  max-width: 160px;
  margin-top: -39px;
  background-color: #DEECE7;
  cursor: pointer;
}



.grades-cards {
  position: relative;
  top: -130px;
  min-height: 100px;
  min-width: 500px;
  margin-top: 30px;
  margin-bottom: 128px;
  margin-left: 149px;
  padding-bottom: 0px;
  border: 1px solid #13573f;
  background-color: #13573f !important;
  font-size: 17px;
  font-weight: 700;
  white-space: normal;
}

.co3310-ai {
  width: 152px;
  height: 99px;
}

.co3348-id {
  margin-top: -217px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.faq-heading{
  border-bottom: #000;
  padding: 20px 60px;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
margin-left:-250px;  
}

.hr-line{
width: 60%;
margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #000;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
 width: 50%; 
 padding: auto;
 
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #009460;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

@media screen and (min-width: 1920px) {
  .sim-logo {
    left: 1746px;
  }

  .body {
    padding-top: 0px;
  }

  .logo-icon {
    left: 516px;
    top: 166px;
    right: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .calendar-image {
    position: relative;
    left: 100px;
    top: 778px;
  }

  .big-text {
    top: 82px;
  }

  .attendance-format-cards {
    left: -664px;
    top: 144px;
    width: 50%;
  }

  .body-text {
    top: 109px;
  }

  .button-for-search {
    left: 118px;
    top: 110px;
    display: inline;
    margin-right: auto;
    margin-left: auto;
  }

  .cards {
    position: relative;
    width: 30%;
    max-width: 1280px;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .logo-for-sim {
    left: -886px;
    margin-right: auto;
    margin-left: auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    cursor: pointer;
  }

  .navigation---top {
    top: -120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-right: auto;
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -webkit-justify-content: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -ms-flex-align: left;
    align-items: left;
    -webkit-align-content: left;
    -ms-flex-line-pack: left;
    align-content: left;
  }

  .nav-left-homepage {
    position: relative;
    left: -1px;
    top: -250px;
    display: inline-block;
    width: 100%;
    max-width: 180px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-nav-left {
    position: relative;
    left: 23px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 55px;
    padding-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .nav-left-text {
    position: relative;
    left: 58px;
    top: 0px;
    padding-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .nav-left-icon {
    position: relative;
  }

  .main-dashboard {
    position: relative;
    left: 223px;
    top: 347px;
    margin-right: auto;
    margin-left: auto;
  }

  .log-in-button {
    position: relative;
    left: 1px;
    top: 229px;
    width: 900px;
    max-width: 700px;
    background-color: #009460;
  }


  .heading-sim-portal {
    position: relative;
    left: 0px;
    color: #009460;
  }

  .main-columns {
    position: relative;
    top: 121px;
    margin-top: -44px;
    margin-bottom: -145px;
  }

  .login-credentials {
    padding-left: 78px;
  }

  .email-address-text-field {
    position: relative;
    width: 900px;
    max-width: 700px;
  }

  .password-text-field {
    max-width: 700px;
  }

  .background-image {
    position: static;
    height: 700px;
  }

  .attendance-cards {
    position: relative;
    width: 30%;
    max-width: 1280px;
    min-width: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .homepage-cards {
    left: -664px;
    top: 144px;
    width: 50%;
  }

  .bold-text-for-nav-left-text {
    position: relative;
    left: 58px;
    top: 0px;
    padding-bottom: 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .present-card {
    left: -664px;
    top: 144px;
    width: 50%;
  }

  .absent-card {
    left: -664px;
    top: 144px;
    width: 50%;
  }

  .exam-schedule-cards {
    left: -664px;
    top: 144px;
    width: 50%;
  }

  .grades-cards {
    left: -664px;
    top: 144px;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .big-text {
    top: -191px;
  }
}